<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerOriginal') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/" method="get" class="forms-style"> 
			<!-- cuando pongo la barra "/", al completar el formulario me lleva al index-->
				<input type="email" name="email" id="" placeholder="direccion de email">
				<input type="password" name="contraseña" id="" placeholder="contraseña">
				<div>
					<input type="checkbox" name="recordarme" id="recordarme">
					<label for="recordarme">Recordarme</label>
				</div>
	
				<button type="submit">Enviar</button>
			</form>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>