<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado', {nombreUsuario: nombreusuario}) %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<form action="/product/product-add" method="post" class="forms-style">

				<input type="text" name="imagen_producto" placeholder="Nombre del archivo">
				<input type="text" name="nombre_producto" id="" placeholder="Nombre del Producto" >
				<input type="text" name="descripcion" id="" placeholder="Descripción" >

				<button type="submit">Enviar</button>
			</form>

</div>
</div>
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>