<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerOriginal') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/" method="get" class="forms-style"> 
			<!-- cuando pongo la barra "/", al completar el formulario me lleva al index-->
				<input type="email" name="email" id="" placeholder="Direccion de email">
				<input type="text" name="usuario" id="" placeholder="Nombre del usuario">
				<input type="password" name="contraseña" id="" placeholder="Contraseña">
				<input type="date" name="fecha" id="" placeholder="Fecha de nacimiento">
				<input type="number" name="DNI" id="" placeholder="Nro de documento">
				<input type="text" name="foto de perfil" id="" placeholder="Foto de perfil">
			
				<button type="submit">Enviar</button>
			</form>

</div>
</div>
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>